.mainDiv { 
    max-width: 606px; 
    width: 100%;
    height: 606px; 
    margin: 0 auto;
}
.mainDiv div { border-right: 2px solid black; border-bottom: 2px solid black; }
.mainDiv div:nth-child(3), .mainDiv div:nth-child(6), .mainDiv div:nth-child(9) { border-right: 0; }
.mainDiv div:nth-child(7), .mainDiv div:nth-child(8), .mainDiv div:nth-child(9) { border-bottom: 0; }
.mainDiv div { 
    width: 33.3333%;
    height: 33.3333%; 
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    font-size: 100px;
    line-height: 200px;  
    user-select: none;
}
