<html>
<head>
    <title>Controle de Clientes</title>
    <script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.mask.min.js"></script>
    <style>
        #sessaoTela {
            width: 800px;
        }

        h2 {
            border-bottom: solid 2px black;
            margin-top: 10px;
            font-family: calibri;
        }

        label {
            font-family: calibri;
        }

        input, select {
            outline: none;
        }

            input[type='button'] {
                font-size: 16px;
                font-family: calibri;
                background-color: rgb(198, 210, 236);
                height: 29px;
                width: 84px;
                border: 1px solid black;
                margin-right: 5px;
                cursor: pointer;
            }

        .content-filter {
            display: flex;
        }

        .content-filter-text {
            width: 215px;
            margin-right: 5px;
            text-align: right;
        }

        .content-div-filter {
            height: 25px;
        }

        .buttons {
            display: flex;
            justify-content: flex-end;
        }
    </style>
</head>
<body>
    <div id="sessaoTela">
        <h2>Controle de Clientes</h2>
        <div id="filtrosPesquisa" class="content-filter">
            <div class="content-filter-text">
                <div class="content-div-filter">
                    <label>Nome:</label>
                </div>
                <div class="content-div-filter">
                    <label>Tipo de Pessoa:</label>
                </div>
                <div class="content-div-filter">
                    <label>CPF/CNPJ:</label>
                </div>
            </div>
            <div>
                <div class="content-div-filter">
                    <input id="txtNome" style="width: 310px;" type="text" maxlength="50" />
                </div>
                <div class="content-div-filter">
                    <input type="radio" name="tipoPessoa" value="F" checked />
                    <label>Fisica</label>
                    <input type="radio" name="tipoPessoa" value="J" />
                    <label>Juridica</label>
                </div>
                <div class="content-div-filter">
                    <input id="txtCpfCnpj" type="text" />
                </div>
            </div>
        </div>
        <div id="divButtons" class="buttons">
            <input type="button" id="btnPesquisar" value="Pesquisar" />
            <input type="button" id="btnLimpar" value="Limpar" />
        </div>
        <div id="gridResultados" style="display: none"></div>
        <div id="sessaoCadastroEdicao" style="display: none"></div>
    </div>
</body>
</html>


<script>

    $("#txtCpfCnpj").mask('000.000.000-00', { reverse: true });

    $("input[type=radio][name=tipoPessoa]").change(function () {
        var inputCpfCnpj = $("#txtCpfCnpj");

        var tipo = inputCpfCnpj.val();
        inputCpfCnpj.val('');

        if (tipo == "F")
            inputCpfCnpj.mask('000.000.000-00', { reverse: true });
        else
            inputCpfCnpj.mask('00.000.000/0000-00', { reverse: true });
    });

    $("#btnPesquisar").click(function () {
        $.get('@Url.Action("Get", "Cliente")').done(function (data) {
            $("#filtrosPesquisa, #divButtons").fadeOut(100, function () {
                $("#gridResultados").html(data).slideDown();
            });
        }).fail(function (xhr) {
            alert(xhr.responseText);
        });
    });

    $("#btnLimpar").click(function () {
        $("#txtNome, #txtCpfCnpj").val('');
        $("input[type=radio][name=tipoPessoa][value='F']").prop('checked', true);
    });

</script>
