.dark {background-color: rgb(66, 66, 66);}
.darkLight {background-color: rgb(80, 80, 80);}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
