
.red {background-color: rgb(255, 88, 88);}
.green {background-color: rgb(119, 222, 119);}
.purple {background-color: rgb(186, 108, 245);}
.blue {background-color: rgb(111, 111, 255);}
.orange {background-color: rgb(255, 190, 71);}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    border-radius: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 10px 10px 20px 10px;
}

ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: bold;
    font-family: calibri;
    font-size: 18px;
    text-align: center;
}

ul li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li div img {
    width: 65px;
    height: 65px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}