html, body {height: 100%; margin: 0}
table { border-collapse: collapse; }
table tr td:not([data-open]) { cursor: pointer; }
table tr td:not([data-open]):not([data-mark]) { background: rgb(100, 100, 100); }
table tr td:hover:not([data-open]):not([data-mark]) { background: rgb(60, 60, 60); }

.bomb {  
    background-image: url("../assets/minisweeper/bomb.jpg"); 
    background-size: 47px 47px;
    background-repeat: no-repeat;
    background-color: transparent;
}

table tr td {
    border: 1px solid black;
    background-color: white;
    width: 45px;
    height: 45px;
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    font-size: 25px;
    user-select: none;  
}

#container { 
    display: flex; 
    height: 100%;
    justify-content: center;    
    align-items: center;
}

.markBomb { background-color: #F44336; }
.color1 { color: green; }
.color2 { color: orange; }
.color3 { color: blue; }
.color4 { color: purple; }
.color5 { color: black; }
.color6 { color: violet; }
.color7 { color: yellow; }
.color8 { color: red; }

.border0 { box-shadow: black inset 3px 0px 0px 0px; }
.border1 { box-shadow: black inset -3px 0px 0px 0px; }
.border2 { box-shadow: black inset 0px 3px 0px 0px; }
.border3 { box-shadow: black inset 0px -3px 0px 0px; }
.border4 { box-shadow: black inset 3px 3px 0px 0px; }
.border5 { box-shadow: black inset -3px -3px 0px 0px; }
.border6 { box-shadow: black inset -3px 3px 0px 0px; }
.border7 { box-shadow: black inset 3px -3px 0px 0px; }