html, body {height: 100%; margin: 0}
table { border: 3px solid white; }
table tr td:not([data-open]) { cursor: pointer; }
table tr td:not([data-open]):not([data-mark]) { background: rgb(100, 100, 100); }
table tr td:hover:not([data-open]):not([data-mark]) { background: rgb(60, 60, 60); }

.bomb {  
    background-image: url("../assets/minisweeper/bomb.jpg"); 
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-color: transparent;
}

table tr td {
    border: 1px solid black;
    background-color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    user-select: none;  
}

#container { 
    display: flex; 
    height: 100%;
    justify-content: center;    
    align-items: center;
}

.markBomb { background-color: #F44336; }
.markBombAnim { animation: bombAnim forwards 1.5s; }
.color1 { color: green; }
.color2 { color: orange; }
.color3 { color: blue; }
.color4 { color: purple; }
.color5 { color: black; }
.color6 { color: violet; }
.color7 { color: yellow; }
.color8 { color: red; }

.border0 { box-shadow: black inset 3px 0px 0px 0px; }
.border1 { box-shadow: black inset -3px 0px 0px 0px; }
.border2 { box-shadow: black inset 0px 3px 0px 0px; }
.border3 { box-shadow: black inset 0px -3px 0px 0px; }
.border4 { box-shadow: black inset 3px 3px 0px 0px; }
.border5 { box-shadow: black inset -3px -3px 0px 0px; }
.border6 { box-shadow: black inset -3px 3px 0px 0px; }
.border7 { box-shadow: black inset 3px -3px 0px 0px; }

@keyframes bombAnim {
    0% { transform: scale(0.2); background-color: #ff7575; }
    30% { transform: scale(1); background-color: #F44336; }
    60% { transform: scale(0.2); background-color: #ff7575; }
    100% { transform: scale(1); background-color: #F44336; }
}

/* CSS feito para NASNYE */
.divSurprise {
    position: absolute;
    width: 1000px;
    height: 400px;
    background-color: rgb(80, 80, 80);
    border-radius: 15px;
}

.divText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1000px;
    height: 400px;
    font-family: monospace;
    color: rgba(57, 127, 218, 0);
    animation: textAnim linear 5s;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    opacity: 0;
    animation: buttonAnim forwards 5s;
    animation-delay: 75s;
}

.divButton button { 
    cursor: pointer; 
    width: 100px;
    height: 55px;
    font-family: monospace;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.text1 { font-size: 50px; }
.text2 { font-size: 50px; animation-delay: 6s; }
.text3 { font-size: 30px; animation-delay: 12s; }
.text4 { font-size: 30px; animation-delay: 18s; }
.text5 { font-size: 30px; animation-delay: 24s; }
.text6 { font-size: 30px; animation-delay: 30s; }
.text7 { font-size: 30px; animation-delay: 36s; }
.text8 { font-size: 30px; animation-delay: 42s; }
.text9 { font-size: 30px; animation-delay: 48s; }
.text10 { font-size: 30px; animation-delay: 54s; }
.text11 { font-size: 50px; animation-delay: 60s; }
.text12 { font-size: 30px; animation-delay: 66s; }
.text13 { font-size: 40px; height: 150px; animation: textAnim2 forwards 5s; animation-delay: 72s; }
.text14 { font-size: 150px; animation: heartAnim linear infinite 1.5s;  color: rgba(57, 127, 218, 1); }

@keyframes textAnim {
    0% { color: rgba(57, 127, 218, 0); }
    50% { color: rgba(57, 127, 218, 1); }
    100% { color: rgba(57, 127, 218, 0); }
}

@keyframes textAnim2 {
    0% { color: rgba(57, 127, 218, 0); }
    100% { color: rgba(57, 127, 218, 1); }
}

@keyframes buttonAnim {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes heartAnim {
    0% { transform: scale(0.7); }
    50% { transform: scale(1); }
    100% { transform: scale(0.7); }
}

