.darkLight {background-color: rgb(80, 80, 80);}
.head { background-color:rgb(226, 24, 215) }
.body { background-color: rgb(255, 80, 80); }
.tail { background-color: rgb(249, 177, 47); }
.gameOver { background-color: black; }
.food { animation: food linear infinite 0.5s; }

table { 
    border-collapse: collapse; 
    margin: 0 auto; 
}

table td {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
} 

@keyframes food {
    0% { transform: scale(0.7); background-color: green; }
    50% { transform: scale(1); background-color: lightgreen; opacity: 0.5; }
    100% { transform: scale(0.7); background-color: green; }
}
